/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #fbfbfb;
  min-height: 100%;
  margin: 0;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #fbfbfb;
  font-size: 1.5rem;
  font-weight: 500;
}

h2 {
  color: #00ffff;
  text-align: center;
  border: 3px solid green;
}

a {
  color: #fbfbfb;
  text-decoration: none;
  font-weight: 400;
  transition: 0.25s;
}

ul {
  list-style: none;
}

a:hover {
  transition: 0.25s;
  color: #32ffd3;
}

.heading {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}

#content {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
}

#tabBar {
  background-color: #9256d6;
  padding: 1.5rem;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tyra {
  object-fit: cover;
}

ul li {
  display: inline;
}
li {
  margin-right: 1rem;
}

.largeText {
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.smallText {
  font-weight: 400;
  margin: 0.5rem;
}

.roundImage {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 100rem;
  box-shadow: 0px 10px 25px rgb(167, 167, 167);
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 0.5rem;
  background-color: #9256d6;
  color: white;
  box-shadow: 0px 10px 25px rgb(167, 167, 167);
}
